body {
  background-color: #f1f3f6;
}

.cart {
  background-color: white;
}

.profile-name {
  padding: 5px 0 0 16px;
  width: calc(100% - 50px);
}

.profile-name .name {
  padding-top: 3px;
  font-size: 16px;
  font-weight: 500;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: capitalize;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input:disabled {
  cursor: not-allowed;
}

input:disabled + label {
  color: #aaaaaa;
  cursor: not-allowed !important;
}

.edit,
.cancel {
  margin-top: -5px;
  color: blue;
  font-weight: 500;
}

.edit:focus,
.cancel:focus {
  box-shadow: none;
}

.myOrders a,
.logOut a,
.changePassword a {
  text-decoration: none;
  font-weight: 500;
  font-size: large;
  color: #8d8d8d;
}

.save {
  width: 100px;
  font-weight: 500;
  font-size: large;
  padding: 8px 15px;
}
